# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


/Debug/*
*.tlog
*.obj
*.exe
*.ilk
*.lastbuildstate
*.log
*.idb
*.pdb
*.pensdf
*.sdf